name: Waka Readme

on:
  schedule:
    - cron: "30 18 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update-readme:
    runs-on: ubuntu-latest

    steps:
      - uses: anmol098/waka-readme-stats@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

          SHOW_LINES_OF_CODE: "True"
          SHOW_TOTAL_CODE_TIME: "True"
          SHOW_PROFILE_VIEWS: "True"
          SHOW_DAYS_OF_WEEK: "True"
          SHOW_LANGUAGE: "True"
          SHOW_UPDATED_DATE: "True"

          SECTION_NAME: "waka-readme"
          LOCALE: "en"

          COMMIT_BY_ME: "False"
          COMMIT_MESSAGE: "Updated with Dev Metrics"
          UPDATED_DATE_FORMAT: "%d/%m/%Y %H:%M:%S"

          BADGE_STYLE: "for-the-badge"
          SYMBOL_VERSION: "1"

          COMMIT_SINGLE: "True"
          DEBUG_LOGGING: "True"
